body {
    
            font-family: Arial, Helvetica, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
}
/* Cabeçalho fixo no topo */
.top-header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #001068;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    z-index: 1000;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}
/* Logo ajustada */
.logo {
    height: 50px;
    width: 115px;
    border-radius: 8px;
    margin-left: 10px;
    object-fit: contain;
}

/* Título do site */
.site-title {
    margin: 0;
    font-size: 24px;
    flex-grow: 1;
    text-align: center;
}


/* Adiciona espaço no topo do conteúdo para não ser escondido pelo header fixo */
body {
    padding-top: 80px;
}
.header {
    background-color: #001068;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 24px;
}
h3 {
    font-family: Arial, Helvetica, sans-serif;
}
.navbar {
    background-color: #001068;
    overflow: hidden;
    position: fixed;
}
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
.navbar a:hover {
    background-color: #ddd;
    color: black;
}
.search-bar {
    text-align: center;
    margin: 20px;
}
.search-bar input {
    width: 60%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


@media (max-width: 600px) {
    .header {
        font-size: 20px;
    }
    .cart-item {
        flex-direction: column;
        align-items: flex-start;
        padding: 15px;
    }
    .cart-item button {
        margin-top: 10px;
    }
    .total {
        font-size: 18px;
    }
    .checkout-btn {
        font-size: 16px;
    }
}
@media (max-width: 600px) {
    .top-header {
        padding: 10px;
        height: auto;
        margin-bottom: 20px;
    }

    .navbar {
        position: static; /* remove o fixo pra caber no header */
        background-color: transparent;
        gap: 15px;
    }

    .navbar a {
        float: none;
        display: block;
        width: 100%;
        padding: 10px 0;
    }

    .site-title {
        font-size: 20px;
        margin: 5px 0;
    }

    .logo {
        height: 60px;
        margin: 5px 0;
    }

    .search-bar input {
        width: 90%;
    }

    body {
        padding-top: 170px;
    }
  
}
